.navbar.dw-navbar {
  margin-bottom: 0;

  .navbar-header {
    height: 120px;
    padding: 15px;

  }
  .nav.navbar-nav {
    height: 120px;
    display: flex;
    align-items: center;
  }

  .navbar-brand {
    max-width: 300px;
    width: 100%;
  }

  .dw-nav-links {

  }

  .navbar-nav > .navbar-link.active > a {
    background: transparent;
    border: none;
    border-bottom: $dw-blue-dark 5px solid;
  }

  .dw-translation-dropdown {

    .btn.dw-btn-dropdown {
      background: transparent;
      border-bottom-color: $dw-gray;
      padding-left: 1rem;
      padding-right: 1rem;
      margin-left: 1.5rem;
      margin-bottom: 0.5rem;

      &:hover, &:focus {
        background: $dw-gray-light;
      }
    }
    .dw-lang-icon {
      margin-right: 6px;
      font-size: 1.1rem;
    }
    .dropdown-menu {
      border-radius: 5px;

      li a {
        padding-top: 5px;
        padding-bottom: 3px;
      }
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 967px) {
  .navbar.dw-navbar {

    display: block;

    .navbar-header {
      width: 100%;
      display: flex;
      justify-content: center;
      height: 90px;
      padding: 10px;
    }

    .nav.navbar-nav {
      height: 80px;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .navbar-brand {
      max-width: 280px;
      float: none;
    }
  }
}

@media only screen and (max-width: $screen-xs-max) {
  .navbar.dw-navbar {

    .navbar-header {
      //height: 80px;
      //padding: 5px;
      display:block;
      height:auto;
    }

    .nav.navbar-nav {
      //height: 60px;

      display:block;
      width:100%;
      height:auto;
      ul>li>a{
        padding-top:5px;
      }
    }

    .navbar-brand {
      max-width: 220px;
    }
  }
}

.fa.fa-facebook-square {
  color: #2D4C67;
}
