
.dw-slider {
  width: 100%;
  background: #162c4a;
  background: -webkit-linear-gradient(to left, #162c4a, #3a7bcc);
  background: linear-gradient(to left, #162c4a, #3a7bcc);
}

.dw-slider  img.slider-image {
  margin: 30px auto;
  width: 90%;
  max-width: 800px;
}

.dw-slider .carousel-caption {
  position: initial;
  padding-top: 0;
  padding-bottom: 30px;
}

.dw-slider ol.carousel-indicators {
  bottom: 0;

  li {
    border-color: #8a8a8a;
  }
}

.dw-text-bloc {
  padding: 2rem 15px;

  @media screen and (max-width: $screen-xs-max) {
    padding: 1rem 15px;
  }

  .img-link {
    padding: 0 0 15px 0;

    a {
      color: #fff;
    }
  }

  .img-wrap {
    overflow: hidden;
    max-width: 100%;
    height: 180px;

    img {
      display: block;
      height: 100%;
      vertical-align: middle;
      margin: 0 auto;
    }
  }

  .img-caption {
    padding: 3px 10px;
    background: linear-gradient(to left, #162c4a, #3a7bcc);
  }
}

.dw-home-quote {
  line-height: 2.6rem
}

.dw-home-quote-title {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  light-height: 2.6rem;
}

.dw-image-grid-container {
  padding-top: 1.5rem;
}
