//general
.full-width {
  width: 100%;
}

.no-padding {
  padding: 0;
}

//color
$dw-blue: #78BDE7;
$dw-blue-dark: #337ab7;
$dw-gray: #ccc;
$dw-gray-light: #ccc;
$dw-gray-lighter: #eee;
$dw-gray-dark: #555;

$screen-xs-max: 767px;
$screen-sm-min: 462px;
$screen-md-max: 979px;



// for bootstrap
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


// font-size
html, body {
  font-size: 16px;
}

@media screen and (max-width: $screen-xs-max) {
  html, body {
    font-size: 12px;
  }
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.8rem;
}

h1 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 4.25rem;
  line-height: 6rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h2 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 2.625rem;
  line-height: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h3 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 1.625rem;
  line-height: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h4 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 1rem;
  line-height: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h5 {
  font-family: inherit;
  font-weight: 400;
  font-style: italic;
  font-size: 1rem;
  line-height: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h1.light, h2.light, h3.light, h4.light, h5.light {
  font-weight: 400;
}

p, ul, ol, pre, table, blockquote {
  margin-top: 0rem;
  margin-bottom: 2rem;
}

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

hr {
  border: 1px solid;
  margin: -1px 0;
}

b, strong, em, small, code {
  line-height: 1;
}

sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

//font-color
.text-gray-dark {
  color: $dw-gray-dark;
}

.text-light {
  font-weight: lighter;
}

.hr-gray-light {
  border-color: $dw-gray-lighter;
  margin: 1px 0;
}

//buttons
.btn {
  border-radius: 0;
}

.btn.btn-primary-transparent {
  background: transparent;
  border-color: $dw-blue-dark;
  color: $dw-blue-dark;
  font-weight: 700;
  padding-left: 2rem;
  padding-right: 2rem;

  &:hover {
    background: $dw-blue-dark;
    border-color: $dw-blue-dark;
    color: #fff;
  }
}


