$icon-font-path: "fonts/bootstrap/";
$fa-font-path: 'fonts/font-awesome';

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
@import "flag-icon-css/sass/_flag-icon.scss";
// endbower


@import url('https://fonts.googleapis.com/css?family=Lato:400,400italic,700,300italic,700italic,300');
@import 'style-guide';
@import 'main';
@import 'press';
@import 'videos';
@import 'directive.footer';
@import 'directive.navbar';
