<!doctype html>
<html ng-app="drwentzApp" ng-controller="MetaCtrl as Meta">
<head>
    <meta charset="utf-8">
    <title ng-bind-html="Meta.meta.pageTitle()"></title>
    <!--<base href="/drwentz-testing2/"/>&lt;!&ndash;[if lte IE 6]></base><![endif]&ndash;&gt;-->
    <!--<base href="/">&lt;!&ndash;[if lte IE 6]></base><![endif]&ndash;&gt;-->
    <meta name="fragment" content="!"/>
    <!--<meta name="description" content="{{Meta.meta.metaDescription()}}">-->
    <meta name="description" content="Explore the official site of Dr. Myron Wentz to learn more about his life, his unique vision for a better world and his numerous humanitarian projects.">
    <meta name="description" content="来探索麦伦华斯博士的官方网站，了解他的人生、他对打造更美好世界的独特愿景、和他的许多人道主义项目。">
    <meta name="description" content="來探索麥倫華斯博士的官方網站，了解他的人生、他對打造更美好世界的獨特願景以及他的許多人道主義專案。">
    <meta name="description" content="Explore el sitio oficial del Dr. Myron Wentz para saber más acerca de su vida, de su visión única de un mundo mejor y de sus numerosos proyectos humanitarios.">
    <meta name="description" content="Explorez le site officiel de Myron Wentz pour mieux connaître sa vie, sa vision unique d'un monde meilleur et ses nombreuses initiatives humanitaires.">
    <meta name="description" content="Jelajahi situs resmi Dr. Myron Wentz untuk mengetahui lebih lanjut tentang hidupnya, visi uniknya untuk dunia yang lebih baik, dan berbagai proyek kemanusiaannya.">
    <meta name="description" content="マイロン・ウェンツ博士の歩み、より良い世界を目指す独自のビジョン、数々の人道的プロジェクトについては、公式サイトをご覧ください。">
    <meta name="description" content="마이런 웬츠 박사 공식 사이트를 방문하셔서 그의 인생, 더 나은 세상에 대한 특별한 비전과 더불어 수많은 인도주의적 프로젝트에 관해 알아보세요.">
    <meta name="description" content= "สำรวจเว็บไซต์อย่างเป็นทางการของดร. ไมรอน เวนทซ์เพื่อเรียนรู้เพิ่มเติมเกี่ยวกับชีวิตของเขา, วิสัยทัศน์ที่ไม่เหมือนใครของเขาเพื่อโลกที่ดีกว่า และโครงการด้านมนุษยธรรมต่าง ๆ ของเขา">

    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{Meta.meta.title()}}"/>
    <meta property="og:description" content="{{Meta.meta.metaDescription()}}"/>
    <meta property="og:url" content="href=http://drwentz.com/"/>
    <meta property="og:site_name" content="{{'DR MYRON WENTZ'|translate}}"/>
    <meta property="og:image" content="http://media.usana.com/drwentz/beta3/img/drw_44.jpg"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@dr_wentz">
    <meta name="twitter:creator" content="@dr_wentz">
    <meta name="twitter:title" content="{{Meta.meta.title()}}">
    <meta name="twitter:description" content="{{Meta.meta.metaDescription()}}">
    <meta name="twitter:image" content="http://media.usana.com/drwentz/beta3/img/drw_44.jpg">
    <meta name="twitter:image:width" content="280">
    <meta name="twitter:image:height" content="150">

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">

    <script type="application/ld+json">
        {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "name": "Dr. Myron Wentz",
        "url":"http://yan-chen.bitbucket.io",
        "image": "http://media.usana.com/drwentz/beta3/img/drw_44.jpg",
        "description": "Explore the official site of Dr. Myron Wentz to learn more about his life, his unique vision for a better world and his numerous humanitarian projects."
        }
    </script>

    <link rel="icon" type="image/ico" href="favicon.ico">
    <link rel="shortcut icon" type="image/ico" href="favicon.ico">
    <link type="image/ico" href="favicon.ico">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/flag-icon-css/css/flag-icon.min.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/app.css -->
    <link rel="stylesheet" href="styles/app.css">
    <link rel="stylesheet" href="/bower_components/angular-bootstrap/ui-bootstrap-csp.css"/>
    <!-- endbuild -->
</head>
<body ng-cloak="" translate-cloak>
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<navbar></navbar>
<ng-view></ng-view>
<footer></footer>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    !function (A, n, g, u, l, a, r) {
        A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
                    (A[l].q = A[l].q || []).push(arguments)
                }, A[l].l = +new Date, a = n.createElement(g),
                r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
</script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/humanitarian.js"></script>
<script src="scripts/controllers/press.js"></script>
<script src="scripts/controllers/publications.js"></script>
<script src="scripts/controllers/scientist.js"></script>
<script src="scripts/controllers/videos.js"></script>
<script src="scripts/controllers/vision.js"></script>
<script src="scripts/directives/footer.js"></script>
<script src="scripts/directives/navbar.js"></script>
<script src="scripts/services/modal.js"></script>
<script src="scripts/controllers/meta.js"></script>
<script src="scripts/services/metaservice.js"></script>
<script src="scripts/services/mycustomhandlerfactory.js"></script>
<!-- endbuild -->
</body>
</html>
