<div class="navbar navbar-default dw-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" ng-click="nav.isCollapsed = !nav.isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!--<a href="/" class="navbar-brand">-->
            <a href="#!/" class="navbar-brand">
                <img class="full-width" src="assets/images/wentzlogotype.png" alt="">
            </a>
        </div>

        <div uib-collapse="nav.isCollapsed" class="navbar-collapse collapse dw-nav-links" id="navbar-main">
            <ul class="nav navbar-nav pull-right">

                <li ng-repeat="item in nav.menu" ng-href-active="active" class="navbar-link">
                    <a ng-href="#!/{{item.state}}/{{nav.currentLanguage.key}}" ng-bind-html="item.title|translate"></a>
                </li>

                <li>
                    <a href="http://www.facebook.com/drwentz" target="_blank"><i class="fa fa-facebook-square"></i></a>
                </li>


                <li uib-dropdown class="dw-translation-dropdown">
                    <button class="btn dw-btn-dropdown dropdown-toggle" type="button" uib-dropdown-toggle>
                        <!--<span class="flag-icon dw-lang-icon {{nav.currentLanguage.flag}}"></span> -->
                        <span class="dw-lang-icon  fa fa-globe"></span>
                        <span ng-bind-html="nav.currentLanguage.name"></span>
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li ng-repeat="lang in nav.languages track by $index" ng-click="nav.changeLanguage(lang)">
                            <a href="" ng-if="lang.name!==nav.currentLanguage.name" ng-bind-html="lang.name">
                                <!--<span class="flag-icon dw-lang-icon {{lang.flag}}"> </span>-->
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
