<div class="container dw-footer">
    <div class="row">

        <div class="col-xs-3">
            <img class="full-width" src="assets/images/USANA-New-Logo.png" alt="">
        </div>

        <div class="col-xs-3">
            <img class="full-width" src="assets/images/childrens-hunger-fund-logo.jpg" alt="">
        </div>

        <div class="col-xs-3">
            <img class="full-width" src="assets/images/sanoviv_logo.jpg" alt="">
        </div>

        <div class="col-xs-3">
            <img class="full-width" src="assets/images/trueHealthLogo.jpg" alt="">
        </div>

    </div>
</div>
