<div class="container dw-slider no-padding">
    <div class="full-width">
        <div uib-carousel active="Humanitarian.active" interval="5000" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in Humanitarian.slides track by slide.id" index="slide.id">
                <img ng-src="{{slide.image}}" class="slider-image">
                <div class="carousel-caption">
                    <p ng-bind-html="slide.caption|translate"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container dw-text-bloc">
    <h2 class="light" ng-bind-html="'HUMANITARIAN'|translate"></h2>
    <p ng-bind-html="'DR MYRON WENTS VISION FOR A BETTER WORLD ...'|translate"></p>

    <hr class="hr-gray-light"/>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 text-center">
            <br>
            <p><img src="assets/images/humanitarian/wentz-in-uganda.jpg" class="full-width" alt=""></p>
            <p><img src="assets/images/humanitarian/malawi-with-prudence-conley.jpg" class="full-width" alt=""></p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8">
            <h3 ng-bind-html="'CHILDRENS HUNGER FUND'|translate"></h3>
            <p ng-bind-html="'DR WENTZ HAS ALWAYS FELT PASSIONATE ABOUT ...'|translate"></p>
            <p ng-bind-html="'DR WENTZ HAS TRAVELED WITH CHF TO IMPROVEISHED ...'|translate"></p>
            <p ng-bind-html="'DR WENTZ HASNT STOPPED THERE IN HIS PHILANTHROPIC ...'|translate"></p>
            <p ng-bind-html="'DAVE PHILLIPS, PRESIDENT OF CHF, EXPRESSED HIS ...'|translate"></p>
            <p ng-bind-html="'DR WENTZ CONTINUES TO SERVE THE NUTRITIONAL ...'|translate"></p>
            <p><a href="http://childrenshungerfund.org/" target="_blank">
        <span class="btn btn-primary-transparent"
              ng-bind-html="'LEARN MORE ABOUT THE CHILDRENS HUNGER FOOD'|translate"></span></a></p>
            <p ng-bind-html="'THE CHILDRENS HUNGER FUND HAS CREATED A WEBSITE ...'|translate"></p>
            <p><a href="http://childrenshungerfund.org/drwentzCHF/" target="_blank">
                <span class="btn btn-primary-transparent" ng-bind-html="'CLICK HERE TO VIEW THE SITE'|translate"></span></a>
            </p>
        </div>
    </div>

    <hr class="hr-gray-light"/>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 text-center">
            <br>
            <p><img src="assets/images/humanitarian/north-central-college.jpg" class="full-width" alt=""></p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8">
            <h3 ng-bind-html="'NORTH CENTRAL COLLEGE'|translate"></h3>
            <p ng-bind-html="'WHILE HIS PRIMARY FOCUS IN ON HEALTH AND DISEASE PREVENTION'|translate"></p>
            <p ng-bind-html="'IN APPRECIATION OF DR WENTZ GENEROSITY OF SPIRIT ...'|translate"></p>
            <p><a
                    href="http://www.prnewswire.com/news-releases/dr-myron-wentz-awarded-honorary-doctor-of-science-degree-123754839.html"
                    target="_blank">
        <span class="btn btn-primary-transparent"
              ng-bind-html="'LEARN MORE ABOUT DR WENTZ DEGREE'|translate"></span></a></p>
            <p ng-bind-html="'IN 2015, DR WENTZ ALSO DONATED 2.5 MILLION ...'|translate"></p>
            <p><a href="https://finearts.northcentralcollege.edu/venue/wentz-concert-hall" target="_blank">
        <span class="btn btn-primary-transparent"
              ng-bind-html="'LEARN MORE ABOUT THE WENTZ CONCERT HALL AND VIEW UPCOMING EVENTS'|translate"></span></a>
            </p>
        </div>
    </div>

    <hr class="hr-gray-light"/>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 text-center">
            <br>
            <div class="embed-responsive embed-responsive-16by9 img-responsive">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Vh-38aJgKC0?showinfo=0"
                        frameborder="0">
                </iframe>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8">
            <h3 ng-bind-html="'USANA TRUE HEALTH FOUNDATION'|translate"></h3>
            <p ng-bind-html="'DR MYRON WENTZ VISION FOR A WORLD FREE FROM SUFFERING ...'|translate"></p>
            <p ng-bind-html="'DONATIONS TO THE USANA TRUE HEALTH FOUNDATION CAN BE ...'|translate"></p>
        </div>
    </div>

    <hr class="hr-gray-light"/>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 text-center">
            <br>
            <p><img src="assets/images/humanitarian/wentz-with-bradley.jpg" class="full-width" alt=""></p>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-8">
            <h3 ng-bind-html="'CARGO OF HOPE'|translate"></h3>
            <p ng-bind-html="'CARGO OF HOPE WAS CREATED IN RESPONSE TO ...'|translate"></p>
            <ul>
                <li ng-bind-html="'PROVIDING 11.7 MILLION MEALS TO VULNERABLE CHILDREN AROUND THE WORLD'|translate"></li>
                <li ng-bind-html="'PROVIDING FOOD PACKS TO AID DISASTER VICTIMS IN JAPAN'|translate"></li>
                <li ng-bind-html="'SENDING EMERGENCY FOOD SHIPMENTS TO LIBERIA AND SIERRA LEONE IN RESPONSE TO THE EBOLA CRISIS'|translate">
                </li>
                <li ng-bind-html="'SUPPORTING NEW MERCY NETWORKS ...'|translate"></li>
                <li ng-bind-html="'EXPANDING FEEDING PROGRAMS AND PROVIDING ADDITIONAL ...'|translate"></li>
                <li ng-bind-html="'STOCKING MORE THAN 20000 FOOD PACKS ...'|translate"></li>
                <li ng-bind-html="'DISTRIBUTING A TOTAL OF 60 TRUCKLOADS OF ...'|translate"></li>
                <ul>
                    <li ng-bind-html="'24 TRUCKLOADS OF ASSORTED ...'|translate"></li>
                    <li ng-bind-html="'23 TRUCKLOADS OF VITAMIN-FORTIFIED ...'|translate"></li>
                    <li ng-bind-html="'6 TRUCKLOADS OF OATMEAL (180000 POUNDS)'|translate"></li>
                    <li ng-bind-html="'100000 POUNDS OF ASSORTED PROTEIN BARS AND NUTRITIONAL SUPPLEMENTS'|translate"></li>
                    <li ng-bind-html="'120000 POUNDS OF BULK FOOD ITEMS AND PROTEIN DRINKS'|translate"></li>
                    <li ng-bind-html="'80000 POUNDS OF DRIED FRUIT'|translate"></li>
                </ul>
            </ul>
            <p ng-bind-html="'THE LIVES AND HEALTH OF CHILDREN IN ...'|translate"></p>
            <p><a href="http://childrenshungerfund.org/blog/2014/01/06/childrens-hunger-fund-announces-cargo-hope/"
                  target="_blank">
        <span class="btn btn-primary-transparent"
              ng-bind-html="'LEARN MORE ABOUT THE CARGO OF HOPE'|translate"></span></a>
        </div>
    </div>

    <hr class="hr-gray-light"/>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 text-center">
            <br>
            <p><img src="assets/images/humanitarian/went-medical-center-building.jpg" class="full-width" alt=""></p>
            <p><img src="assets/images/humanitarian/drw_cambodia.jpg" class="full-width" alt=""></p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8">
            <h3 ng-bind-html="'THE WENTZ MEDICAL CENTERS'|translate"></h3>
            <p ng-bind-html="'THE WENTZ MEDICAL CENTER AND LABORATORY IN ...'|translate"></p>
            <p ng-bind-html="'IN 2008, DR WENTZ CREATED A SIMILAR WENTZ MEDICAL ...'|translate"></p>
            <p ng-bind-html="'WITH THE GENEROUS DONATIONS OF MANY USANA ...'|translate"></p>
            <p><a href="Learn more about the Wentz Medical Center" target="_blank">
        <span class="btn btn-primary-transparent"
              ng-bind-html="'LEARN MORE ABOUT THE WENTZ MEDICAL CENTER'|translate"></span></a>
        </div>
    </div>

    <hr class="hr-gray-light"/>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 text-center">
            <br>
            <p><img src="assets/images/humanitarian/children-campain-award.jpg" class="full-width" alt=""></p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8">
            <h3 ng-bind-html="'CHILDRENS CHAMPION AWARD'|translate"></h3>
            <p ng-bind-html="'IN HONOR OF DR WENTZ CONTINUED SUPPORT FOR ...'|translate"></p>
        </div>
    </div>

    <hr class="hr-gray-light"/>


    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 text-center">
            <br>
            <p><img src="assets/images/humanitarian/packer-wentz-endowment.jpg" class="full-width" alt=""></p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8">
            <h3 ng-bind-html="'THE PACKERWENTZ ENDOWMENT'|translate"></h3>
            <p ng-bind-html="'DR WENTZ PROVIDED THE FUNDING TO CREATE THE ...'|translate"></p>
            <p ng-bind-html="'THE ENDOWMENT WAS CREATED TO ...'|translate"></p>
            <p ng-bind-html="'SIMILAR TO DR WENTZ, DR. PACKER HAS ...'|translate"></p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 text-center">
            <br>
            <p><img src="assets/images/humanitarian/facing-africa.png" class="full-width" alt=""></p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8">
            <h3 ng-bind-html="'FACING AFRICA'|translate"></h3>
            <p><span
                    ng-bind-html="'DR WENTZ RECENTLY LEARNED OF A LIFE-ALTERING AND DEBILITATING DISEASE, BROUGHT ...'|translate"></span>
                <a
                        href="https://www.facebook.com/notes/dr-myron-wentz/status-of-ongoing-dr-wentz-surgical-mission-to-africa/10154365336923984"
                        target="_blank">
                    <span ng-bind-html="'HE SPONSORED FACING AFRICAS MAY 2016 MISSION'|translate"></span></a>
                <span ng-bind-html="'TO EHIOPIA. HE PLANS TO CONTINUE OFFERING HIS ASSISTANCE AND ...'|translate"></span>
            </p>
            <p><a href="http://www.facingafrica.org/about-facing-africa/" target="_blank">
        <span class="btn btn-primary-transparent"
              ng-bind-html="'LEARN MORE ABOUT FACING AFRICA'|translate"></span></a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 text-center">
            <br>
            <p><img src="assets/images/humanitarian/lifetime-achievement-award.png" class="full-width" alt=""></p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8">
            <h3 ng-bind-html="'LIFETIME ACHIEVEMENT AWARD'|translate"></h3>
            <p ng-bind-html="'THE CHILDRENS HUNGER FUND RECOGNIZED DR WENTZ WITH THEIR FIRST-EVER ...'|translate"></p>
            <p><a
                    href="http://www.prnewswire.com/news-releases/usana-founder-dr-myron-wentz-awarded-first-ever-lifetime-achievement-award-by-childrens-hunger-fund-300336233.html"
                    target="_blank">
        <span class="btn btn-primary-transparent"
              ng-bind-html="'MORE INFORMATION'|translate"></span></a>
        </div>
    </div>

</div>

