<div class="container dw-slider no-padding">
    <div class="full-width">
        <div uib-carousel active="Home.active" interval="5000" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in Home.slides track by slide.id" index="slide.id">
                <img ng-src="{{::slide.image}}" class="slider-image">
                <div class="carousel-caption">
                    <p ng-bind-html="slide.caption|translate"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container dw-text-bloc">
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <h3 class="dw-home-quote" ng-bind-html="'I DREAM OF A WORLD ...'|translate"></h3>
            <p class="dw-home-quote-title text-gray-dark" ng-bind-html="'DR MYRON WENTZ TITLE'|translate"></p>
        </div>
        <div class="col-sm-6 hidden-xs">
            <div class="col-sm-4 img-link" ng-repeat="item in Home.menu" ui-sref-active="active">
                <a ng-href="#!/{{item.state}}">
                    <div class="img-wrap">
                        <img ng-src="{{item.img}}" alt=""/>
                    </div>
                    <div class="img-caption" ng-bind-html="item.title|translate">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


<hr class="hr-gray-light"/>

<div class="container dw-text-bloc">
    <h2 class="light" ng-bind-html="'ABOUT'|translate">'|</h2>
    <p ng-bind-html="'DR MYRON WENTZ IS AN ...'|translate">'|</p>
    <h3 class="light" ng-bind-html="'EARLY LIFE'|translate">'|</h3><br/>
    <p ng-bind-html="'MYRON WENTZ WAS DRAWN ...'|translate">'|</p>
    <h3 class="light" ng-bind-html="'EDUCATION'|translate">'|</h3><br/>
    <p ng-bind-html="'DR MYRON WENTZ HOLDS A ...'|translate">'|</p>
    <h3 class="light" ng-bind-html="'PHILANTHROPY'|translate">'|</h3><br/>
    <p ng-bind-html="'BECAUSE OF HIS VISION ...'|translate">'|</p>
    <p ng-bind-html="'DR WENTZ HAS ALSO ...'|translate">'|</p>
    <a href="#!/humanitarian">
        <span class="btn btn-primary-transparent" ng-bind-html="'TO LEARN MORE ABOUT ...'|translate">'|</span>
    </a>
    <h3 class="light" ng-bind-html="'PUBLICATIONS'|translate">'|</h3><br/>
    <p ng-bind-html="'DR WENTZ IS THE AUTHOR ...'|translate">'|</p>
    <p>
        <a href="https://www.youtube.com/watch?v=HkWp55ethfo" target="_blank">
            <span class="btn btn-primary-transparent" ng-bind-html="'WATCH TO LEARN MORE ...'|translate">'|</span></a>
    </p>
    <p>
        <a href="http://whatsupusana.com/2012/04/usana-20-dr-myron-wentz/" target="_blank"><span
                class="btn btn-primary-transparent" ng-bind-html="'READ MORE ABOUT DR. WENTZ'|translate">'|</span></a>
    </p>

</div>
