<div class="container dw-vision-container">

    <div class="row dw-image-grid-container">

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div ng-repeat="image in Press.imagesCol1 track by $index" class="dw-vision-image-container">
                <img ng-src="{{image.url}}" class="full-width" alt=""/>

                <div class="dw-vision-image-caption" ng-bind-html="image.caption | translate">{{}}</div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div ng-repeat="image in Press.imagesCol2 track by $index" class="dw-vision-image-container">
                <img ng-src="{{image.url}}" class="full-width" alt=""/>

                <div class="dw-vision-image-caption" ng-bind-html="image.caption | translate">{{}}</div>
            </div>
        </div>


        <div class="col-xs-12 col-sm-6 col-md-4">
            <div ng-repeat="image in Press.imagesCol3 track by $index" class="dw-vision-image-container">
                <img ng-src="{{image.url}}" class="full-width" alt=""/>
                <div class="dw-vision-image-caption" ng-bind-html="image.caption | translate">{{}}</div>
            </div>
        </div>
    </div>

    <h2 class="text-center light" ng-bind-html="'PRESS'|translate">{{}}</h2>
    <hr class="hr-gray-light">
    <div class="row dw-press-links">

        <div class="col-xs-12 col-sm-12 col-md-5 col-md-offset-1">
            <h3 class="light" ng-bind-html="'MEDIA'|translate">{{}}</h3>
            <ul>
                <div class="media">
                    <div class="media-left pull-left"><i class="fa fa-newspaper-o fa-2x"></i></div>
                    <div class="media-body">
                        <a target="_blank"
                           href="http://www.prnewswire.com/news-releases/usana-proudly-announces-they-are-now-a-trusted-partner-and-sponsor-of-the-dr-oz-show-300022608.html"
                           ng-bind-html="'DR MYRON WENTZ COMPANY, USANA HEALTH SCIENCES ...'|translate">
                        </a>
                    </div>
                </div>
                <li class="media">
                    <div class="media-left pull-left"><i class="fa fa-newspaper-o fa-2x"></i></div>
                    <div class="media-body">
                        <a target="_blank"
                           href="http://www.prnewswire.com/news-releases/aces-for-humanity-initiative-raises-25000-for-usana-true-health-foundation-514020423.html"
                           ng-bind-html="'THE USANA TRUE HEALTH FOUNDATION, THE CHARITY ...'|translate">
                        </a>
                    </div>
                </li>
                <li class="media">
                    <div class="media-left pull-left"><i class="fa fa-newspaper-o fa-2x"></i></div>
                    <div class="media-body">
                        <a target="_blank"
                           href="http://www.prnewswire.com/news-releases/childrens-hunger-fund-announces-cargo-of-hope-239891231.html"
                           ng-bind-html="'THE CHILDRENS HUNGER FUND ORGANIZATION ...'|translate">
                        </a>
                    </div>
                </li>
                <li class="media">
                    <div class="media-left pull-left"><i class="fa fa-newspaper-o fa-2x"></i></div>
                    <div class="media-body">
                        <a target="_blank"
                           href="http://www.prnewswire.com/news-releases/50000-donated-to-earthquake-relief-efforts-in-nepal-300074852.html"
                           ng-bind-html="'THE USANA TRUE HEALTH FOUNDATION CONTRIBUTED ...'|translate">
                        </a>
                    </div>
                </li>
                <li class="media">
                    <div class="media-left pull-left"><i class="fa fa-newspaper-o fa-2x"></i></div>
                    <div class="media-body">
                        <a target="_blank"
                           href="http://www.prnewswire.com/news-releases/usana-true-health-foundation-sends-emergency-funds-to-philippines-231614101.html"
                           ng-bind-html="'THE USANA TRUE HEALTH FOUNDATION SENT EMERGENCY ...'|translate">
                        </a>
                    </div>
                </li>

            </ul>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-5">
            <h3 class="light" ng-bind-html="'ACCOLADES'|translate">{{}}</h3>
            <ul>
                <li class="media">
                    <div class="media-left pull-left"><i class="fa fa-certificate fa-2x"></i></div>
                    <div class="media-body">
                        <a target="_blank"
                           href="http://www.businesswire.com/news/home/20070627006276/en/USANA-Founder-Dr.-Myron-Wentz-Receives-Albert#.VdOHpUXtUw8"
                           ng-bind-html="'DR WENTZ WAS AWARDED THE ALBERT EINSTEIN ...'|translate">
                        </a>
                    </div>
                </li>
                <li class="media">
                    <div class="media-left pull-left"><i class="fa fa-certificate fa-2x"></i></div>
                    <div class="media-body">
                        <a target="_blank"
                           href="http://www.prnewswire.com/news-releases/dr-myron-wentz-awarded-honorary-doctor-of-science-degree-123754839.html"
                           ng-bind-html="'NORTH CENTRAL COLLEGE AWARDED DR WENTZ AN ...'|translate">
                        </a>
                    </div>
                </li>
                <li class="media">
                    <div class="media-left pull-left"><i class="fa fa-certificate fa-2x"></i></div>
                    <div class="media-body">
                        <a target="_blank"
                           href="http://www.prnewswire.com/news-releases/usana-founder-dr-myron-wentz-awarded-first-ever-lifetime-achievement-award-by-childrens-hunger-fund-300336233.html"
                           ng-bind-html="'USANA FOUNDER DR MYRON WENTZ AWARDED FIRST-EVER LIFETIME ACHIEVEMENT AWARD BY ...'|translate">
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
