<div class="container dw-text-bloc">
    <h2 class="light" ng-bind-html="'PUBLICATIONS'|translate"></h2>
    <p ng-bind-html="'IN ADDITION TO BEING AN AWARD-WIINING ...'|translate"></p>

    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <img class="full-width" src="assets/images/publications/healthy-home.jpg" alt=""/>
            <em class="text-light" ng-bind-html="'THE HEALTHY HOME: SIMPLE TRUTHS TO ...'|translate"></em>
            <p ng-bind-html="'AN INSIGHTFUL GUIDE TO HOUSEHOLD ...'|translate"></p>
        </div>
        <div class="col-xs-12 col-sm-4">
            <img class="full-width" src="assets/images/publications/invisiblemiracles.jpg" alt=""/>
            <em class="text-light" ng-bind-html="'INVISIBLE MIRACLES: THE REVOLUTION IN CELLULAR NUTRITION'|translate"></em>
            <p ng-bind-html="'AN IN-DEPTH EXPLANATION OF ESSENTIAL ...'|translate"></p>
        </div>
        <div class="col-xs-12 col-sm-4">
            <img class="full-width" src="assets/images/publications/mouthfullofpoison.jpg" alt=""/>
            <em class="text-light" ng-bind-html="'A MOUTH FULL OF POISON: THE TRUTH ABOUT MERCURY AMALGAM FILLINGS'|translate"></em>
            <p ng-bind-html="'AN ACCESSIBLE RESOURCE ABOUT THE ...'|translate"></p>
        </div>
    </div>

    <p ng-bind-html="'DT WENTZ IS ALSO THE AUTHOR OF A NUMBER OF SCIENTIFIC PAPERS, INCLUDING:'|translate"></p>
    <ul>
        <li ng-bind-html="'PREOBRAZHENSKY S, MALUGIN A, WENTZ M. ...'|translate"></li>
        <li ng-bind-html="'MAZUMDER P, CHUANG HY, WENTZ MW, ...'|translate"></li>
        <li ng-bind-html="'MCNEIL C, LADLE JN, HELMICK WM, ...'|translate"></li>
        <li ng-bind-html="'WENTZ MW, SCOTT RA, VVENNES JW. ...'|translate"></li>
    </ul>

</div>
