<div class="container dw-slider">
    <div class="full-width">
        <div uib-carousel active="Home.active" interval="5000" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in Scientist.slides track by slide.id" index="slide.id">
                <img ng-src="{{slide.image}}" class="slider-image">

                <div class="carousel-caption">
                    <p ng-bind-html="slide.caption|translate"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container dw-text-bloc">
    <h2 class="light" ng-bind-html="'SCIENTIST'|translate"></h2>
    <p ng-bind-html="'DR MYRON WENTZ IS A WORLD-RENOWNED ...'|translate"></p>

    <h3 class="light" ng-bind-html="'EDUCATION'|translate"></h3><br/>
    <p ng-bind-html="'DR WENTZ RECEIVED A PHD IN MICROBIOLOGY ...'|translate"></p>

    <h3 class="light" ng-bind-html="'GULL LABORATORIES'|translate"></h3><br/>
    <p ng-bind-html="'DR WENTZ FOUNDED GULL LABORATORIES IN ...'|translate"></p>
    <p ng-bind-html="'GULLS CONTRIBUTIONS TO THE FIELD OF ...'|translate"></p>
    <p ng-bind-html="'DR WENTZ WORKED TO DEVELOP THE FINEST VIRAL ...'|translate"></p>

    <h3 class="light" ng-bind-html="'USANA HEALTH SCIENCES'|translate"></h3><br/>
    <p ng-bind-html="'WITH A DETERMINATION TO PROVIDE THE WORLD WITH ...'|translate"></p>
    <div><a href="http://www.usana.com/" target="_blank">
        <span class="btn btn-primary-transparent" ng-bind-html="'LEARN MORE ABOUT USANA'|translate"></span></a></div>

    <h3 class="light" ng-bind-html="'SANOVIV MEDICAL INSTITUTE'|translate"></h3><br/>
    <p ng-bind-html="'WHILE DR WENTZ BELIEVES NUTRITION IS THE BEST WAY ...'|translate"></p>

    <p class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1_4PAyL8fB4?showinfo=0" frameborder="0">
        </iframe>
    </p>

    <p>
        <a href="http://www.sanoviv.com/about-sanoviv/dr-wentz-founder/" target="_blank">
            <span class="btn btn-primary-transparent" ng-bind-html="'READ MORE ABOUT DR WENTS INSPIRATION FOR FOUNDING SANOVIV'|translate"></span></a>
    </p>

</div>

