<div class="container dw-videos-container">

    <h3 class="light text-center" ng-bind-html="'VIDEOS'|translate"></h3>

    <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="video in Videos.videoList track by $index">
        <div class="dw-video-wrapper" ng-click="Videos.openVideoModal('modal-video.tpl.html',video,'lg')">
            <img class="full-width" src="{{video.thumbnail}}" alt="">
        </div>
        <div class="dw-video-caption" ng-bind-html="video.caption|translate"></div>
    </div>
</div>


<script type="text/ng-template" id="modal-video.tpl.html">
    <div class="modal-header">
        <button type="button" ng-click="ModalCtrl.ok()" class="close">&times;</button>
        <h4 ng-if="ModalCtrl.item.caption " ng-bind-html="ModalCtrl.item.caption | translate"
            class="modal-title"></h4>
    </div>
    <div class="modal-body">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" ng-src="{{ModalCtrl.item.url}}" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</script>