<div class="container dw-vision-container">

    <div class="row dw-image-grid-container">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div ng-repeat="image in Vision.imagesCol1 track by $index" class="dw-vision-image-container">
                <img ng-src="{{image.url}}" class="full-width" alt=""/>

                <div class="dw-vision-image-caption" ng-bind-html="image.caption | translate"></div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div ng-repeat="image in Vision.imagesCol2 track by $index" class="dw-vision-image-container">
                <img ng-src="{{image.url}}" class="full-width" alt=""/>

                <div class="dw-vision-image-caption" ng-bind-html="image.caption | translate"></div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div ng-repeat="image in Vision.imagesCol3 track by $index" class="dw-vision-image-container">
                <img ng-src="{{image.url}}" class="full-width" alt=""/>

                <div class="dw-vision-image-caption" ng-bind-html="image.caption | translate"></div>
            </div>
        </div>
    </div>

    <hr class="hr-gray-light">

    <div class="container dw-text-bloc">
        <h2 class="light" ng-bind-html="'DR WENTS VISION'|translate"></h2>
        <p ng-bind-html="'I FIND IT TRAGIC THAT THE VAST MAJORITY OF ...'|translate"></p>
        <p ng-bind-html="'I RECOGNIZED MANY YEARS AGO THAT OPTIMAL CELLULAR ...'|translate"></p>
        <p ng-bind-html="'-DR MYRON WENTZ, VISIONARY, ...'|translate"></p>

        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HkWp55ethfo?showinfo=0" frameborder="0">
            </iframe>
        </div>

    </div>
</div>
